In [4]:
dict = {'Eiweiss': 'g/l', 'Hämo': 'G/l'}
dict['Eiweiss']

'g/l'

In [11]:
import pandas as pd

df = pd.read_csv("Blutbilder.csv", sep = ";")
tstp_name = "Datum"
df[tstp_name] = pd.to_datetime(df[tstp_name], format = "%d.%m.%Y")
df

,Datum,CRP,Interleukin 6,Eiweiss,Leokocyten,Erythrocyten,Hämoglobin,Hämatokrit,Thrombocyten
0,2023-04-17,0.06,NaN,6.6,1.6,3.04,9.8,0.28,67
1,2023-04-19,1.24,NaN,5.8,2.4,2.74,9.0,0.27,58
2,2023-04-20,0.92,3.10,6.1,1.9,2.78,9.1,0.26,58
3,2023-04-21,0.58,NaN,6.3,0.9,2.96,9.6,0.27,66
4,2023-04-22,0.39,1.50,6.0,0.7,2.69,8.7,0.26,50
5,2023-04-23,0.25,0.25,5.8,0.7,2.47,8.1,0.24,43
6,2023-04-24,0.17,1.50,5.8,0.6,2.46,8.1,0.23,34
7,2023-04-25,0.11,NaN,5.6,0.4,2.40,7.9,0.22,27
8,2023-04-26,0.10,1.50,6.0,0.4,2.46,8.0,0.23,27
9,2023-04-27,0.07,1.50,6.0,0.3,2.54,8.3,0.23,21
10,2023-04-28,0.05,3.80,6.0,0.6,2.60,8.5,0.24,14
11,2023-04-29,0.09,15.10,6.1,0.4,2.75,8.9,0.25,31
12,2023-04-30,0.67,32.50,5.9,0.2,2.67,8.7,0.24,19
13,2023-05-01,2.09,29.70,5.8,0.3,2.64,8.1,0.23,26
14,2023-05-02,1.91,15.70,5.2,0.3,2.24,7.2,0.20,13
15,2023-05-03,1.21,13.60,5.4,0.3,2.20,7.1,0.20,16
16,2023-05-04,0.97,14.10,5.3,0.4,2.70,8.5,0.25,7
17,2023-05-05,0.94,12.90,5.5,0.4,2.78,8.8,0.25,15
18,2023-05-06,0.95,10.40,5.8,0.5,2.72,8.5,0.24,23
19,2023-05-07,0.83,7.40,5.8,0.5,2.78,8.8,0.25,15

In [17]:
units = pd.read_csv("Wertetabelle.csv", sep = ";")
units.set_index("Name", inplace = True, drop = True)


val_name = "CRP"
units.loc[val_name]

Einheit         mg/dl
untereGrenze      0.0
obereGrenze       0.5
Name: CRP, dtype: object